@page "/"
@layout MainPageComponent
@inject IJSRuntime JSRuntime

@inject IChatSessionService ChatSessionService;
@using System.Threading
@using BlazorTypewriter
@using Frontend.Services
@using Frontend.Services.ChatSessionServices
@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager NavigationManager;
@inject SweetAlertService MySweetAlertService
<AuthorizeView>
    <NotAuthorized>
        @*
        @if (IsLoading)
        {
            <div class="spinner"></div>
        }
        *@
        <div class="mycontent">
            <div class="row">
                <div class="leftside col-lg-5 col-md-5 col-sm-12">
                    <h1 id="typingText">
                        <Typewriter Builder="@typewriter"/>
                    </h1>
                </div>

                <div class="rightside col-lg-7 col-md-7 col-sm-12">
                    <div class="parent">
                        <img src="Images/Graident%20Ai%20Robot1.png" class="myimg"/>
                    </div>
                </div>
            </div>
        </div>

        <div class="chat-button-container">
            <p class="chat-label">Chat </p>


            <button class="chat-button" @onclick="() => StartChatSession()">
                <i class="fas fa-comments"></i> <!-- This is the chat icon -->
            </button>


        </div>

    </NotAuthorized>

    <Authorized>
        @if (context.User != null && context.User.Identity != null)
        {
            @*
            var userEmail = context.User.FindFirst(System.Security.Claims.ClaimTypes.Email)?.Value;
            <h3>Hello, @context.User.Identity.Name</h3>
            
            var id = context.User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value;

            <h4>Email: @userEmail</h4>
            
            <h4>id: @id</h4>
            *@
            <div class="mycontent">
                <div class="row">
                    <div class="leftside col-lg-5 col-md-5 col-sm-12">
                        <h1 id="typingText">
                            <Typewriter Builder="@typewriter"/>
                        </h1>
                    </div>

                    <div class="rightside col-lg-7 col-md-7 col-sm-12">
                        <div class="parent">
                            <img src="Images/Graident%20Ai%20Robot1.png" class="myimg"/>
                        </div>
                    </div>
                </div>
            </div>

            <div class="chat-button-container">
                <p class="chat-label">Chat </p>

                <button class="chat-button" @onclick="() => StartChatSession()">
                    <i class="fas fa-comments"></i> <!-- This is the chat icon -->
                </button>

            </div>
        }

    </Authorized>
</AuthorizeView>

@code {

    private TypewriterBuilder typewriter;

    // private bool IsLoading = false;

    protected override async Task OnInitializedAsync()
    {
        typewriter = new TypewriterBuilder(defaultCharacterPause: 100)
            .TypeString("Welcome to our chat-bot AI technology. ")
            .Pause(2000)
            .DeleteAll()
            .TypeString("You can upload any pdf, then ask you questions and our technology will find the answer from you uploaded pdf file. ", 50)
            .Pause(2000)
            .DeleteAll(30)
            .TypeString("Use cases, Books, Research, Textbooks, Articles, Financial, Documents. ", 30)
            .Pause(2000)
            .DeleteAll(20)
            .Pause(2000)
            .Loop();
    }

    private async Task StartChatSession()
    {
        //  IsLoading = true; //here SweetAlertLoading turns to true
        ShowSweetAlertLoading(true); // Show loading alert
        var response = await ChatSessionService.StartChatSessionAsync();
        Console.WriteLine("response from start chat seesion: " + response);
        ShowSweetAlertLoading(false); // Hide loading alert
        NavigationManager.NavigateTo($"/ChatPage/{response}");

        //IsLoading = false;  //here SweetAlertLoading turns to false 
    }


    private void ShowSweetAlertLoading(bool show)
    {
        if (show)
        {
            void WillOpenHandler()
            {
                MySweetAlertService.ShowLoadingAsync();
            }

            // Convert the method to a delegate with the same signature as SweetAlertCallback
            SweetAlertCallback willOpenCallback = new SweetAlertCallback(WillOpenHandler);

            MySweetAlertService.FireAsync(new SweetAlertOptions
            {
                Color = "linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(49, 98, 153, 1) 100%, rgba(0, 212, 255, 1) 100%)",
                IconColor = "linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(49, 98, 153, 1) 100%, rgba(0, 212, 255, 1) 100%)",
                Title = "Please Wait The Session Will Start!",
                Html = "Processing..",
                AllowOutsideClick = false,
                ShowConfirmButton = false,
                WillOpen = willOpenCallback
            });
        }
        else
        {
            MySweetAlertService.CloseAsync();
        }
    }


}