@page "/UploadFilePage"
@using UploadFile.Models
@using Frontend.Services
@using Frontend.Services.UploadFileServices

@inject IUploadFileService _IUploadFileService
@inject SweetAlertService MySweetAlertService
@inject IAuthManager AuthManager
@inject NavigationManager NavigationManager
@using Microsoft.AspNetCore.Components.Authorization
@using Frontend.Authentication



<AuthorizeView>
    <Authorized>

<style>
    
   body{
        
        background: rgb(2, 0, 36);
        background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(49, 98, 153, 1) 100%, rgba(0, 212, 255, 1) 100%);
   }
  
    
</style>

        <div class="root">


            @if (warninngMessage.Length > 0)
            {
                <div class="alert alert-warning">
                    <strong>Warning!</strong> @warninngMessage.
                </div>
            }


            <div class="row divWidth">
                <div class="col-sm-4">
                    <label>
                        <InputFile class="form-control" disabled="@fileLoading" OnChange="@OnInputFileChange" single/>
                    </label>
                </div>
                <div class="col-sm-2">
                    <button type="button" disabled="@fileLoading" class="btn btn-primary btn-primary1" @onclick="OnUploadSubmit">
                        Upload File
                    </button>
                </div>
            </div>

            <br/>
            <div class="row divWidth">
                @if (fileUploadViewModels.Count > 0)
                {
                    <table class="table table-responsive table-bordered">
                        <thead class="text-primary">
                        <tr>
                            <th>File</th>
                            <th class="action">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var attachment in fileUploadViewModels)
                        {
                            <tr>
                                <td>
                                    <a class="text-primary" href="@attachment.FileStorageUrl" target="_blank">
                                        <i class="fa-solid fa-paperclip"></i> @attachment.FileName
                                    </a>

                                </td>

                                <td>
                                    <span class="oi oi-delete" aria-hidden="true" @onclick="() => OnFileDeleteClick(attachment)"></span>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                }
                else
                {
                    <div class="alert alert-info">
                        <strong>No Files!</strong>
                    </div>
                }
            </div>


        </div>
    </Authorized>
</AuthorizeView>

@code {
    //private bool IsLoading = false;

    private string warninngMessage = "";
    private string displayMessage = "";
    private List<IBrowserFile> loadedFiles = new();
    private long maxFileSize = 1024 * 15 * 15;
    private int maxAllowedFiles = 3;
    private bool fileLoading;
    string Message = "No file(s) selected";
    IReadOnlyList<IBrowserFile> selectedFiles;
    private List<FileUploadViewModel> fileUploadViewModels = new();
    private IEnumerable<FileUploadViewModel> files;

    private int userid;

    protected override async Task OnInitializedAsync()
    {
        userid = await AuthManager.GetUserIdFromCache();
        fileUploadViewModels = await _IUploadFileService.GetAllFilesFromBlobAsync();
        
    }


    private void OnInputFileChange(InputFileChangeEventArgs e)
    {
        selectedFiles = e.GetMultipleFiles();
        Message = $"{selectedFiles.Count} file(s) selected";
        this.StateHasChanged();
    }

    private async void OnUploadSubmit()
    {
        foreach (var file in selectedFiles)
        {
            try
            {
                ShowSweetAlertLoading(true);
                var trustedFileNameForFileStorage = RemoveSpacesBetweenWords(file.Name);
                var blobUrl = await _IUploadFileService.UploadFileToBlobAsync(trustedFileNameForFileStorage, file.ContentType, file.OpenReadStream(20971520));
                var response = await _IUploadFileService.SendFileUrl(blobUrl, userid);
                if (blobUrl != null)
                {
                    FileUploadViewModel fileUploadViewModel = new FileUploadViewModel()
                    {
                        FileName = trustedFileNameForFileStorage,
                        FileStorageUrl = blobUrl,
                        ContentType = file.ContentType,
                    };

                    fileUploadViewModels.Add(fileUploadViewModel);
                    displayMessage = trustedFileNameForFileStorage + " Uploaded!!";
                }

                else
                    warninngMessage = "File Upload failed, Please try again!!";


                if (response == "pdf is added successfully")

                    await ShowAlert(response, true);

                else
                {
                    try
                    {
                        var deleteResponse = await _IUploadFileService.DeleteFileToBlobAsync(trustedFileNameForFileStorage);
                        var response1 = await _IUploadFileService.DeleteFileUrl(blobUrl);
                        if (deleteResponse)
                        {
                            await ShowAlert(response, false);
                        }

                        await OnInitializedAsync();
                    }
                    catch (Exception)
                    {
                        warninngMessage = "Something went wrong! Please try again.";
                    }
                }


                await OnInitializedAsync();
                //  IsLoading = false;
                ShowSweetAlertLoading(false);
            }

            catch (Exception ex)
            {
                warninngMessage = "File Upload failed, Please try again!!";
            }
        }

        fileLoading = false;
        StateHasChanged();
    }

    private string RemoveSpacesBetweenWords(string input)
    {
        string[] words = input.Split(' ');
        return string.Join("", words);
    }

    private async void OnFileDeleteClick(FileUploadViewModel attachment)
    {
        try
        {
            
            var result = await MySweetAlertService.FireAsync(new SweetAlertOptions
            {
                Title = "Are you sure?",
                Text = "You will not be able to recover this PDF file!",
                Icon = SweetAlertIcon.Warning,
                ShowCancelButton = true,
                ConfirmButtonText = "Yes, delete it!",
                CancelButtonText = "No, cancel!"
            });

            if (!result.IsConfirmed)
            {
                return;
            }
            //  IsLoading = true;
            ShowSweetAlertLoading(true);
            var deleteResponse = await _IUploadFileService.DeleteFileToBlobAsync(attachment.FileName);
            var response = await _IUploadFileService.DeleteFileUrl(attachment.FileStorageUrl);
            if (deleteResponse)
            {
                fileUploadViewModels.Remove(attachment);
                displayMessage = attachment.FileName + " Deleted!!";


                if (response == "pdf is deleted successfully")
                {
                    await ShowAlert("Your file has been deleted", true);
                }
            }

            ShowSweetAlertLoading(false);
            //    IsLoading = false;

            await OnInitializedAsync();
        }
        catch (Exception)
        {
            warninngMessage = "Something went wrong! Please try again.";
        }

        this.StateHasChanged();
    }


    private async Task ShowAlert(string msg, bool successMessage)
    {
        if (successMessage)
        {
            await MySweetAlertService.FireAsync(new SweetAlertOptions
            {
                Position = SweetAlertPosition.Center,
                Icon = SweetAlertIcon.Success,
                Title = msg,
                ShowConfirmButton = false,
                Timer = 2000
            });
        }
        else
        {
            await MySweetAlertService.FireAsync(new SweetAlertOptions
            {
                Position = SweetAlertPosition.Center,
                Icon = SweetAlertIcon.Error,
                Title = msg,
                ShowConfirmButton = false,
                Timer = 4000
            });
        }
    }


    private void ShowSweetAlertLoading(bool show)
    {
        if (show)
        {
            void WillOpenHandler()
            {
                MySweetAlertService.ShowLoadingAsync();
            }

            // Convert the method to a delegate with the same signature as SweetAlertCallback
            SweetAlertCallback willOpenCallback = new SweetAlertCallback(WillOpenHandler);

            MySweetAlertService.FireAsync(new SweetAlertOptions
            {
                //  Background = "linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(49, 98, 153, 1) 100%, rgba(0, 212, 255, 1) 100%)",
                Color = "linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(49, 98, 153, 1) 100%, rgba(0, 212, 255, 1) 100%)",
                IconColor = "linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(49, 98, 153, 1) 100%, rgba(0, 212, 255, 1) 100%)",

                Title = "Please Wait To Upload Your File!",
                Html = "Processing..",
                AllowOutsideClick = false,
                ShowConfirmButton = false,
                WillOpen = willOpenCallback
            });
        }
        else
        {
            MySweetAlertService.CloseAsync();
        }
    }


}