@page "/UploadFilePage"
@using UploadFile.Models
@using Frontend.Services
@using Frontend.Services.UploadFileServices

@inject IUploadFileService blobStorageService
@inject SweetAlertService MySweetAlertService
@inject NavigationManager NavigationManager
@using Microsoft.AspNetCore.Components.Authorization


<AuthorizeView>
    <Authorized>
  

    <style>
    
   body{
        
        background: rgb(2, 0, 36);
        background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(49, 98, 153, 1) 100%, rgba(0, 212, 255, 1) 100%);
   }
  
    
</style>

       @if (IsLoading)
            {
                <div class="spinner"></div>
            }


    <div class="root">


        @if (warninngMessage.Length > 0)
        {
            <div class="alert alert-warning">
                <strong>Warning!</strong> @warninngMessage.
            </div>
        }


        <div class="row divWidth">
            <div class="col-sm-4">
                <label>
                    <InputFile class="form-control" disabled="@fileLoading" OnChange="@OnInputFileChange" single/>
                </label>
                @* @if (fileLoading) *@
                @* { *@
                @*     <i class="fa fa-refresh"></i> *@
                @*     <span>Loading...</span> *@
                @* } *@
            </div>
            <div class="col-sm-2">
                <button type="button" disabled="@fileLoading" class="btn btn-primary btn-primary1" @onclick="OnUploadSubmit">
                    Upload File
                </button>
            </div>
        </div>
        @*
    @if (displayMessage.Length > 0)
    {
        <div class="alert alert-success">
            <strong>Success!</strong> @displayMessage.
        </div>
    }
    *@
        <br/>
        <div class="row divWidth">
            @if (fileUploadViewModels.Count > 0)
            {
                <table class="table table-responsive table-bordered">
                    <thead class="text-primary">
                    <tr>
                        <th>File</th>
                        <th class="action">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var attachment in fileUploadViewModels)
                    {
                        <tr>
                            <td>
                                <a class="text-primary" href="@attachment.FileStorageUrl" target="_blank">
                                    <i class="fa-solid fa-paperclip"></i> @attachment.FileName
                                </a>

                            </td>

                            <td>
                                <span class="oi oi-delete" aria-hidden="true" @onclick="() => OnFileDeleteClick(attachment)"></span>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            }
            else
            {
                <div class="alert alert-info">
                    <strong>No Files!</strong>
                </div>
            }
        </div>


    </div>
         </Authorized>
</AuthorizeView>

@code {
    private bool IsLoading = false;
    
    private string warninngMessage = "";
    private string displayMessage = "";
    private List<IBrowserFile> loadedFiles = new();
    private long maxFileSize = 1024 * 15 * 15;
    private int maxAllowedFiles = 3;
    private bool fileLoading;
    string Message = "No file(s) selected";
    IReadOnlyList<IBrowserFile> selectedFiles;
    private List<FileUploadViewModel> fileUploadViewModels = new();
    private IEnumerable<FileUploadViewModel> files;

    protected override async Task OnInitializedAsync()
    {
        fileUploadViewModels = await blobStorageService.GetAllFilesFromBlobAsync();
    }


    private void OnInputFileChange(InputFileChangeEventArgs e)
    {
        selectedFiles = e.GetMultipleFiles();
        Message = $"{selectedFiles.Count} file(s) selected";
        this.StateHasChanged();
    }

    private async void OnUploadSubmit()
    {
       
        fileLoading = true;
        foreach (var file in selectedFiles)
        {
            try
            {
                IsLoading = true;
                var trustedFileNameForFileStorage = RemoveSpacesBetweenWords(file.Name);
                var blobUrl = await blobStorageService.UploadFileToBlobAsync(trustedFileNameForFileStorage, file.ContentType, file.OpenReadStream(20971520));
                var response = await blobStorageService.SendFileUrl(blobUrl,1);
                if (blobUrl != null)
                {
                    FileUploadViewModel fileUploadViewModel = new FileUploadViewModel()
                    {
                        FileName = trustedFileNameForFileStorage,
                        FileStorageUrl = blobUrl,
                        ContentType = file.ContentType,
                    };

                    fileUploadViewModels.Add(fileUploadViewModel);
                    displayMessage = trustedFileNameForFileStorage + " Uploaded!!";
                }

                else
                    warninngMessage = "File Upload failed, Please try again!!";


                if (response == "pdf is added successfully")
                {
                    await ShowAlert("Your file has been saved");
                }

                await OnInitializedAsync();
                IsLoading = false;
            }
            
            catch (Exception ex)
            {
                warninngMessage = "File Upload failed, Please try again!!";
            }
        }

        fileLoading = false;
        this.StateHasChanged();
    }

    private string RemoveSpacesBetweenWords(string input)
    {
        string[] words = input.Split(' ');
        return string.Join("", words);
    }

    private async void OnFileDeleteClick(FileUploadViewModel attachment)
    {
        try
        {
            IsLoading = true;
            var deleteResponse = await blobStorageService.DeleteFileToBlobAsync(attachment.FileName);
            var response = await blobStorageService.DeleteFileUrl(attachment.FileStorageUrl);
            if (deleteResponse)
            {
                fileUploadViewModels.Remove(attachment);
                displayMessage = attachment.FileName + " Deleted!!";


                if (response == "pdf is deleted successfully")
                {
                   
                    await ShowAlert("Your file has been deleted");
                }
            }
            IsLoading = false;

            await OnInitializedAsync();
          
        }
        catch (Exception)
        {
            warninngMessage = "Something went wrong! Please try again.";
        }

        this.StateHasChanged();
    }


    public async Task ShowAlert(string msg)
    {
        await MySweetAlertService.FireAsync(new SweetAlertOptions
        {
            Position = SweetAlertPosition.Center,
            Icon = SweetAlertIcon.Success,
            Title = "Your file has been saved",
            ShowConfirmButton = false,
            Timer = 2000
        });
    }


}